{% extends './admin_temp.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Admin | Forgot Passwords</title>
    {% endblock title %}
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block content %}
    <!-- //prettier-ignore -->
    <h1>This is forgot password template</h1>

    <div class="columns">
      <div class="column">
        <h1>Email:</h1>
      </div>
      <div class="column">
        <h1>New Password</h1>
      </div>
      <div class="column">
        <h1>Username:</h1>
      </div>
    </div>
    {% for user_data in data %}
    <div class="columns">
      <div class="column">
        <h1>{{ user_data.REFENCE_USER.email }}</h1>
      </div>
      <div class="column">
        <h1>{{ user_data.new_password_change }}</h1>
      </div>
      <div class="column">
        <h1>{{ user_data.REFENCE_USER.username }}</h1>
      </div>
    </div>
    {% endfor %}
    <!-- prettier-ignore -->
    {% endblock content %}
    <!-- //prettier-ignore -->
  </body>
</html>
