{% extends './admin_temp.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Admin | Forgot Passwords</title>
    {% endblock title %}

    <style>
      /*{% block styles %}*/
      .border-admin {
        border: 1px solid black;
        padding: 4px;
      }

      /*{% endblock styles %}*/
    </style>
  </head>

  <body>
    <!-- prettier-ignore -->
    {% block content %}
    <a href="{% url 'main:admin_dashboard' %}" class="button is-info">Home</a>
    <!-- //prettier-ignore -->
    <h1 class="mb-5">This show people who forgot password</h1>

    <div class="columns border-admin is-vcentered">
      <div class="column has-text-centered">
        <h1>Email:</h1>
      </div>
      <div class="column has-text-centered">
        <h1>New Password</h1>
      </div>
      <div class="column has-text-centered">
        <h1>Username:</h1>
      </div>
      <div class="column has-text-centered">
        <h1>created at:</h1>
      </div>
    </div>
    {% for user_data in data %}
    <div class="columns">
      <div class="column has-text-centered">
        <h1>{{ user_data.REFENCE_USER.email }}</h1>
      </div>
      <div class="column has-text-centered">
        <h1>{{ user_data.new_password_change }}</h1>
      </div>
      <div class="column has-text-centered">
        <h1>{{ user_data.REFENCE_USER.username }}</h1>
      </div>
      <div class="column has-text-centered">
        <h1>{{ user_data.created_at }}</h1>
      </div>
    </div>
    {% endfor %}
    <!-- prettier-ignore -->
    {% endblock content %}
    <!-- //prettier-ignore -->
  </body>
</html>
