<nav
  class="navbar sty-h-navbar-bkg is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <!--
    <div class="navbar-brand">
      <a class="navbar-item">
        <h1>DIY CONNECT</h1>
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
-->
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item sty-h-navbar-role">
            <div id="navbar_role_show">Innovator</div>
            <ion-icon name="chevron-down"></ion-icon>
          </a>

          <div class="navbar-dropdown">
            <a
              class="navbar-item sty-h-role-is-selected sty-h-navbar-role-items"
              id="nav_getElement_choice_role"
              onclick="navbar_role_change()"
            >
              Innovator
            </a>
            <a
              class="navbar-item sty-h-navbar-role-items"
              id="nav_getElement_choice_role"
              onclick="navbar_role_change()"
            >
              Contributor
            </a>
            <a
              class="navbar-item sty-h-navbar-role-items"
              id="nav_getElement_choice_role"
              onclick="navbar_role_change()"
            >
              Collector
            </a>
          </div>
        </div>

        <a
          class="navbar-item sty-h-navbar-icons"
          href="{% url 'main:people' %}"
        >
          <h1 class="">
            <ion-icon name="people"></ion-icon></h1
        ></a>
        <a class="navbar-item sty-h-navbar-icons">
          <h1 class="">
            <ion-icon name="notifications"></ion-icon></h1
        ></a>
        <a
          class="navbar-item sty-h-navbar-icons"
          href="{% url 'main:postAdd' %}"
        >
          <h1>
            <ion-icon name="add-circle"></ion-icon></h1
        ></a>
        <div class="navbar-item">
          <input
            type="text"
            class="input"
            placeholder="search"
            id="nav_search_bar"
          />
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item sty-h-navbar-icons" id="navAll_logout">
          <ion-icon name="power"></ion-icon>
        </a>
        <a
          class="navbar-item sty-h-navbar-profileName"
          href="{% url 'main:profile_user' username=username %}"
        >
          <h1>{{ username }}</h1>
        </a>
        <a class="navbar-item sty-h-navbar-profileImage">
          <ion-icon name="person-circle"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
