<nav
  class="navbar sty-h-navbar-bkg is-fixed-top sty-navbar-desktop"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      <!--
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      -->
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item sty-h-navbar-role">
            <div id="navbar_role_show">Innovator</div>
            <ion-icon name="chevron-down"></ion-icon>
          </a>

          <div class="navbar-dropdown">
            <a
              class="navbar-item sty-h-role-is-selected sty-h-navbar-role-items"
              id="nav_getElement_choice_role"
              onclick="navbar_role_change()"
            >
              Innovator
            </a>
            <a
              class="navbar-item sty-h-navbar-role-items"
              id="nav_getElement_choice_role"
              onclick="navbar_role_change()"
            >
              Contributor
            </a>
            <a
              class="navbar-item sty-h-navbar-role-items"
              id="nav_getElement_choice_role"
              onclick="navbar_role_change()"
            >
              Collector
            </a>
               <a
              class="navbar-item sty-h-navbar-role-items"
              id="nav_getElement_choice_role"
              onclick="navbar_role_change()"
            >
              Showcase
            </a>
          </div>
        </div>

        <a
          class="navbar-item sty-h-navbar-icons"
          href="{% url 'main:people' %}"
        >
          <h1 class="">
            <ion-icon name="people"></ion-icon></h1
        ></a>
        <a class="navbar-item sty-h-navbar-icons">
          <h1 class="">
            <ion-icon name="notifications"></ion-icon></h1
        ></a>
        <a
          class="navbar-item sty-h-navbar-icons"
          href="{% url 'main:postAdd' %}"
        >
          <h1>
            <ion-icon name="add-circle"></ion-icon></h1
        ></a>
        <a
          class="navbar-item sty-h-navbar-icons"
          href="{% url 'main:Messages' %}"
        >
          <h1 class="">
            <ion-icon name="chatbubble-ellipses"></ion-icon></h1
        ></a>
        <div class="navbar-item">
          <input
            type="text"
            class="input"
            placeholder="search"
            id="nav_search_bar"
          />
        </div>
      </div>

      <div class="navbar-end">
        <a
          class="navbar-item sty-h-navbar-icons"
          id="navAll_logout"
          onclick="mdl_f_logout_open()"
        >
          <ion-icon name="power"></ion-icon>
        </a>
        <a
          class="navbar-item sty-h-navbar-profileName"
          href="{% url 'main:profile_user' username=username %}"
        >
          <h1 id="get_navbar_username">{{ username }}</h1>
        </a>
        <a class="navbar-item sty-h-navbar-profileImage">
          <ion-icon name="person-circle"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar mobile start 
<nav
  class="navbar sty-h-navbar-bkg sty-navbar-mobile"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-2">
        <h1 class="sty-navbar-icons-mobile has-text-centered">
          <ion-icon name="notifications"></ion-icon>
        </h1>
      </div>
      <div class="column has-text-centered">
        <div class="dropdown" onclick="btn_mobile_dropdown(event)">
          <div class="dropdown-trigger">
            <button class="button">
              <span id="mobile_dropdown_btn_selected_role"
                >Dropdown button</span
              >
            </button>
          </div>

          <div class="dropdown-menu">
            <div class="dropdown-content">
              <h1
                class="dropdown-item select-role-item-mobile"
                onclick="navbar_role_change_mobile()"
              >
                Innovator
              </h1>
              <h1
                class="dropdown-item select-role-item-mobile"
                onclick="navbar_role_change_mobile()"
              >
                Contributor
              </h1>
              <h1
                class="dropdown-item select-role-item-mobile is-active"
                onclick="navbar_role_change_mobile()"
              >
                Collector
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <h1 class="sty-navbar-icons-mobile-profile has-text-centered">
          <ion-icon name="person-circle"></ion-icon>
        </h1>
      </div>
    </div>
  </div>
</nav>
 Navbar mobile end-->

<nav
  class="navbar sty-h-navbar-bkg sty-navbar-mobile"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-2">
        <div class="dropdown" onclick="btn_mobile_dropdown(event)">
          <div class="dropdown-trigger">
            <button class="button sty-mobile-navbar-icons-btn">
              <ion-icon name="menu-outline"></ion-icon>
            </button>
          </div>

          <div class="dropdown-menu">
            <div class="dropdown-content">
              <a
                href="{% url 'main:people'%}"
                class="dropdown-item sty_choices_menu_icons"
              >
                <ion-icon name="people"></ion-icon>&nbsp; People
              </a>
              <a
                href="{% url 'main:postAdd' %}"
                class="dropdown-item sty_choices_menu_icons"
              >
                <ion-icon name="add-circle"></ion-icon>&nbsp; Add Post
              </a>
              <a
                href="{% url 'main:profile_user' username=username %}"
                class="dropdown-item sty_choices_menu_icons"
              >
                <ion-icon name="person"></ion-icon>&nbsp; Profile
              </a>

              <a
                href="{% url 'main:Messages'%}"
                class="dropdown-item sty_choices_menu_icons"
              >
             <ion-icon name="chatbox-ellipses"></ion-icon></ion-icon>&nbsp; Messages
              </a>
              <h1 class="dropdown-item sty_choices_menu_icons">
                <ion-icon name="notifications"></ion-icon> &nbsp; Notification
              </h1>
              <h1
                href="{% url 'main:profile_user' username=username %}"
                class="dropdown-item sty_choices_menu_icons"
                style="color: red"
                onclick="onclick=mdl_f_logout_open()"
              >
                <ion-icon name="power"></ion-icon>&nbsp; Logout
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="column has-text-centered">
        <div class="dropdown" onclick="btn_mobile_dropdown(event)">
          <div class="dropdown-trigger">
            <button class="button sty_btn_mobile_dropdown_selected_role">
              <span id="mobile_dropdown_btn_selected_role"
                >Dropdown button</span
              >
              &nbsp; <ion-icon name="caret-down-outline"></ion-icon>
            </button>
          </div>

          <div class="dropdown-menu">
            <div class="dropdown-content">
              <h1
                class="dropdown-item select-role-item-mobile"
                onclick="navbar_role_change_mobile()"
              >
                Innovator
              </h1>
              <h1
                class="dropdown-item select-role-item-mobile"
                onclick="navbar_role_change_mobile()"
              >
                Contributor
              </h1>
              <h1
                class="dropdown-item select-role-item-mobile is-active"
                onclick="navbar_role_change_mobile()"
              >
                Collector
              </h1>
                 <h1
                class="dropdown-item select-role-item-mobile is-active"
                onclick="navbar_role_change_mobile()"
              >
               Showcase
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <a
          class="sty-navbar-icons-mobile-profile has-text-centered"
          href="{% url 'main:profile_user' username=username %}"
        >
          <ion-icon name="person-circle"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</nav>

