{% extends './auth_base.html' %}

<html>
  <head>
    <!-- prettier-ignore -->
    {% block title %}
    <!-- //prettier-ignore -->
    <title>Login | DIY CONNECT</title>
    <!-- prettier-ignore -->
    {% endblock title %}
    <!-- //prettier-ignore
      -->
    <style></style>
  </head>

  <body>
    <!-- prettier-ignore -->
    {% block content %}
    <!-- //prettier-ignore -->
    <div class="container container-bkg">
      <div class="has-text-centered">
        <h1 class="sty-sty-auth-header sty-size-auth-header mb-6">
          DIY Connect
        </h1>
        <h1 class="sty-sty-sub-header-authLogin mb-4 sty-size-sub-header">
          Login
        </h1>
        <div>
          <div class="columns">
            <div class="column is-2 sty-sty-auth-label-mobile"></div>
            <div class="column sty-sty-auth-label-mobile">
              <div class="has-text-centered">
                <h1 class="sty-sty-auth-label sty-size-auth-label">
                  Username:
                </h1>
              </div>
            </div>
            <div class="column is-4">
              <div>
                <input
                  type="text"
                  class="input is-medium sty-sty-inp-border"
                  placeholder="Username"
                  id="inp_username"
                />
              </div>
            </div>
            <div class="column is-2 sty-sty-auth-label-mobile"></div>
          </div>
          <div class="columns">
            <div class="column is-2 sty-sty-auth-label-mobile"></div>
            <div class="column sty-sty-auth-label-mobile">
              <div class="has-text-centered">
                <h1 class="sty-sty-auth-label sty-size-auth-label">
                  Password:
                </h1>
              </div>
            </div>
            <div class="column is-4">
              <div>
                <input
                  type="password"
                  class="input is-medium sty-sty-inp-border"
                  placeholder="Password"
                  id="inp_password"
                />
              </div>
            </div>
            <div class="column is-2 sty-sty-auth-label-mobile"></div>
          </div>

          <div>
            <h1 class="sty-sty-subtitle-login mb-5">
              Don't you have an account??
              <a href="{% url 'main:authentication_registration'%}"
                >Register Here</a
              >
            </h1>
            <h1 class="sty-err-msg" id="err_msg"></h1>
            <div class="button sty-btn-submit" id="btn_submit">Submit</div>
          </div>
        </div>
      </div>
    </div>

    <!-- prettier-ignore -->
    {% endblock content %}
    <!-- //prettier-ignore -->
  </body>
  <script>
    //{% block scripts %}
    let btn_submit = document.getElementById("btn_submit");
    btn_submit.addEventListener("click", () => {
      let json_data = Validate();
      let response = fetch("{% url 'main:authentication_login' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": getCookie("csrftoken"),
        },
        mode: "same-origin",
        body: JSON.stringify(json_data),
      })
        .then((response) => {
          if (!response.ok) {
            // If response status is not OK (400, 500, etc.), throw an error
            return response.json().then((errData) => {
              throw errData;
            });
          }
          return response.json(); // Otherwise, parse the JSON response
        })
        .then((msg) => {
          console.log(msg);
          window.location.href = msg.redirect_url;
        })
        .catch((err) => {
          //console.log(err);
          console.log("Error:", err.error || "An unexpected error occurred");
          let err_msg = document.getElementById("err_msg");
          err_msg.textContent = `${err.error}`;
        });
    });
    function Validate() {
      //Given

      let inp_username = document.getElementById("inp_username").value;
      let inp_password = document.getElementById("inp_password").value;

      data = {
        username: inp_username,
        password: inp_password,
      };
      return data;
    }

    //{% endblock scripts %}
  </script>
</html>
